---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="A propos | Anthony Mény"
	description="A propos d'Anthony Mény"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="A propos" tagline="Apprenez-en plus sur mon profil.">
				<img
					width="1553"
					height="873"
					src="/assets/chieng.jpg"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je ?</h2>
				<div class="content">
					<p>
						J'ai 23 ans et je suis actuellement en 2e année à
						l'EPSI. Après un parcours en dents de scie à la sortie
						du bac, j'ai décidé de reprendre les études pour devenir
						concepteur développeur d'application.
					</p>
					<p>
						Je suis actuellement en poste pour un job étudiant dans
						un petite <a
							href="https://www.facebook.com/lecomptoirdufromagerbruz/"
							>fromagerie</a
						> à Bruz (venez faire un tour, c'est délicieux !). Avec toutes
						ces expériences en entreprise depuis 2018, je suis rentré
						en contact avec énormément de profils différent dans tout
						autant de milieux différents et je suis capable de m'adapter
						rapidement à l'environnement de l'entrerprise.
					</p>
					<p>
						Mes expériences en stage se sont toutes déroulées en
						télétravail, et j'y ai acquis énormément d'autonomie
						pour pouvoir avancer. Cependant, pour
						l'alternance que je recherche, j'aimerais être en
						présentiel dans une entreprise et découvrir un cadre de
						travail plus proche de la réalité qui m'attend pour les
						années à venir.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<ul>
						<li>
							2023 - Stage chez <a href="https://www.etayage.fr/"
								>Etayage</a
							> : Création et mise en place de contenu pédagogique
							avec PicoCMS et NextCloud
						</li>
						<li>
							2022 - Stage chez <a
								href="https://www.myresoplus.com/">My Réso +</a
							> : Mise a jour du site de l'entreprise et refonte complète
							d'un <a href="http://asepgi92.fr/">site</a> pour un client
						</li>
						<li>2019-2021 - Intérim pour diverse entreprise</li>
						<li>
							2018 - Service civique chez <a
								href="https://addictions-france.org/actualites/dispositif-nozambule-5998/"
								>Noz'Ambule</a
							> (prévention santé)
						</li>
						<li>2017 - Bac économique et social</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Soft skills :</p>
					<ul>
						<li>Esprit d'équipe</li>
						<li>Autonomie</li>
						<li>Créatif</li>
						<li>Calme</li>
						<li>Ouvert au dialogue</li>
					</ul>
					<p>Hard skills :</p>
					<ul>
						<li>PhP - Symfony (MCV)</li>
						<li>Python</li>
						<li>JavaScript</li>
						<li>Docker</li>
						<li>MySQL - SQL</li>
						<li>Environnement Linux</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Références</h2>
				<div class="content">
					<p>
						<a
							href="https://www.linkedin.com/in/aur%C3%A9lien-lemaire/"
							>Aurélien Lemaire</a
						>, maître de stage et fondateur chez Etayage
					</p>
					<p>
						<a
							href="https://www.linkedin.com/in/stefania-giraldo-garcia-ab753448/"
							>Stefania Giraldo Garcia</a
						>, maîtresse de stage et directrice artistique chez My
						Réso +
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
